<h1>Topics</h1>

<div class="row">
  <!--Bootstrap split grid to 4 and 8 = 12 -->
  <div class="col-md-8">
    <!-- #loop over each topic in @topics -->
    <% @topics.each do |topic| %>
      <%= render partial: 'topic', locals: { topic: topic } %>
    <% end %>
  </div>
  <% if user_is_authorized_for_topics? %>
  <div class="col-md-4">
    <!-- #link to create new topic -->
    <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
  </div>
  <% end %>
</div>
